---
# Predecessor Crons role: Deploy and manage cron workers as systemd service

- name: Deploy predecessor-crons systemd service
  template:
    src: predecessor-crons.service.j2
    dest: /etc/systemd/system/predecessor-crons.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd
    - Restart predecessor-crons

- name: Ensure predecessor-crons service is enabled and started
  systemd:
    name: predecessor-crons
    state: started
    enabled: yes
    daemon_reload: yes
